*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
    padding: 1rem;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    height: 500px;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    border-radius: 10px;
    background-color: peru;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 3;
    border-radius: 10px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 3;
    grid-row-start: 1;
    border-radius: 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
        

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px){
    .parent{
        display: none;
    }
}

/* DESKTOP Y PANTALLAS GRANDES */
@media (min-width: 1024px){
    .parent{
        font-size: 1em;
    }
}